---
import Layout from "../layouts/layout.astro";
---
<div class="center" align="center">
  <Layout class="Index" title="pm324's weird mancave">
    <img style="border-radius: 50%;width: 100px;height: 100px;" src="/icon.jpg" alt="postmordial-icon">
    <h1>POSTMORDIAL</h1>
    <a style="position:relative;bottom:10px" href="https://wakatime.com/@2d9623bd-8898-43e2-a74d-3b5d8934d168" target="_blank"><img src="https://wakatime.com/badge/user/2d9623bd-8898-43e2-a74d-3b5d8934d168.svg?style=flat" alt="Total time coded since Jun 27 2023" /></a>
    <a style="position:relative;bottom:10px" href="https://visitorbadge.io/status?path=https%3A%2F%2Fpostmordial.github.io%2F"><img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fpostmordial.github.io%2F&label=Little%20critters%20that%20scurry%20to%20my%20page&countColor=%2337d67a&style=flat" /></a>
    <br>
    <a style="position:relative;bottom:10px" href="https://astro.build" target="_blank"><img src="https://img.shields.io/badge/Made_With-Astro-purple" alt="Made With Astro"></a>
    <p style="color: var(--sage);">--they/them</p>
    <a href="https://discord.com/users/1017067177796456469">
      <img src="https://lanyard.cnrad.dev/api/1017067177796456469?bg=333333&borderRadius=10px" />
</Layout>
</div>

<style>
  h1{
    font-family: Inter;
    font-weight: bolder;
    color: white;
  }

  p{
    font-family: Inter;
  }
</style>