---
const {title} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/favicon.svg" />
        <script src="https://kit.fontawesome.com/e99f16c37a.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <title>{title}</title>
    </head>
    <body style="background-color: #181A1B;">
        <div style="color:aliceblue;" class="nav">
            <ul>
                <li>
                    <a href="https://postmordial.github.io/" target="_self"><i class="fa-solid fa-user"></i> About &nbsp</a>
                </li>
                <li>
                    <a href="blog" target="_blank"><i class="fa-solid fa-rss"></i> Blog &nbsp </a>
                </li>
                <li>
                    <a href="socials" target="_self"><i class="fa-solid fa-retweet"></i> Socials &nbsp </a>
                </li>
            </ul>
        </div>
        <br>
        <slot />
    </body>
</html> 

<style>
    li{
        font-family: Inter;
        font-weight: bolder;
        display: inline-block;
    }
    div.nav{
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  padding: 2px;
    }

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--seal-brown);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

:root{
    --seal-brown: #582f0eff;
    --russet: #7f4f24ff;
    --raw-umber: #936639ff;
    --lion: #a68a64ff;
    --khaki: #b6ad90ff;
    --sage: #c2c5aaff;
    --sage-2: #a4ac86ff;
    --reseda-green: #656d4aff;
    --ebony: #414833ff;
    --black-olive: #333d29ff;
}

</style>